body {
  margin: 0;
  font-family: 'RocknRoll One';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Home, .Register, .Info, .Game {
  height: 100vh;
  font-family: 'RocknRoll One';
}

#card-div {
  width: 135px;
  height: 185px;
  background-color: black;
  margin: 2%;
  border-radius: 10px;
  box-shadow: 0px 1px 11px -1px white;
}

#card-div-img-box {
  height: 80%;
  width: 100%;
  background-color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

#card-div-naziv-cijena {
  height: 20%;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#card-naziv p {
  font-size: 13px;
  text-align: left;
  font-weight: bold;
}

#card-naziv:hover {
  background-color: white;
  color: black;
}

#card-naziv {
  color: white;
  font-family: 'RocknRoll One';
  font-size: 16px;
  text-align: center;
  width: 100%;
}
