body {
  margin: 0;
  font-family: 'RocknRoll One';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Home, .Register, .Info, .Game {
  height: 100vh;
  font-family: 'RocknRoll One';
}

#card-div {
  width: 135px;
  height: 185px;
  max-width: 220px;
  background-color: black;
  margin: 2%;
  border-radius: 10px;
  box-shadow: 0px 1px 11px -1px white;
}

#card-div-img-box {
  height: 80%;
  width: 100%;
  background-color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

#card-div-description {
  height: 20%;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#card-text p {
  text-align: left;
  font-weight: bold;
}

#card-text:hover {
  background-color: white;
  color: black;
}

#card-text {
  color: white;
  font-family: 'RocknRoll One';
  text-align: center;
  width: 100%;
}

.playersName {
  font-size: 40px;
}

.dungeonButtons {
  position: absolute;
  bottom: 30;
}

.card-text {
  font-size: 14px;
}


@media only screen and (max-width: 450px) {
  #card-div {
    width: 80px;
    height: 120px;
    max-width: 100px;
  }

  .card-text {
    font-size: 10px;
  }

  .playersName {
    font-size: 20px;
    text-align: center;
  }
}
